In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)

file_to_load  = "C:/Users/admin/Documents/SMU/Olympic_Athletes/olympic_data.csv"

# Read the City and Ride Data

# Read Purchasing File and store into Pandas data frame
olympics = pd.read_csv(file_to_load )
olympics.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,107506,Hermann Schreiber,M,26.0,NaN,NaN,Switzerland,SUI,1936 Summer,1936,Summer,Berlin,Aeronautics,Aeronautics Mixed Aeronautics,Gold
1,20,Kjetil Andr Aamodt,M,22.0,176.0,85.0,Norway,NOR,1994 Winter,1994,Winter,Lillehammer,Alpine Skiing,Alpine Skiing Men's Combined,Silver
2,20,Kjetil Andr Aamodt,M,26.0,176.0,85.0,Norway,NOR,1998 Winter,1998,Winter,Nagano,Alpine Skiing,Alpine Skiing Men's Combined,NaN
3,20,Kjetil Andr Aamodt,M,30.0,176.0,85.0,Norway,NOR,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Combined,Gold
4,634,Paul Accola,M,20.0,176.0,82.0,Switzerland,SUI,1988 Winter,1988,Winter,Calgary,Alpine Skiing,Alpine Skiing Men's Combined,Bronze

In [4]:
# Created a new column to filter data
#olympics["Winner/Loser"] = olympics["Medal"].replace({"Gold":"Winner", "Silver":"Loser", "Bronze":"Loser", "NaN":"Loser"})
#olympics.head()

In [10]:
# Create data series of ALL male gymnatics using multipe using conditionals (such as Medal, Sex and Sport)
#Gymn_all_df =olympics[((olympics["Sport"]=="Gymnastics" ) & (olympics["Sex"]=="M" ))]
Gymn_all_df =olympics[((olympics["Sex"]=="M") & (olympics["Sport"]=="Gymnastics" ))]

# Data Cleaning to remove missing/null values
#Gymn_all_df=Gymn_all_df.dropna(how="any")

# Calculate the averages using ALL gymnastics participants creating a filtered data frame
gymnastics_cnt = len(Gymn_all_df['ID'].value_counts())
#gymnastics_cnt = Gymn_all_df['ID'].nunique()
avg_age=Gymn_all_df["Age"].mean()

avg_height=Gymn_all_df["Height"].mean()

avg_weight=Gymn_all_df["Weight"].mean()

# Creating DataFrame of ALL gymnastics participants

olympic_dtframe=pd.DataFrame({"Number of gymnatics":[gymnastics_cnt],"Average Age":[avg_age],
                              "Average Height":[avg_height],"Average Weight":[avg_weight]})



#Sorting

#olympic_srt_dt=olympic_dtframe.sort_values(by=["Average Age","Average Height"], ascending=[True, False], inplace=True)


print(olympic_dtframe)

   Number of gymnatics  Average Age  Average Height  Average Weight
0                 2635    24.653482      167.644438       63.343605

In [9]:
# Create data series of Gold male gymnatics using multipe using conditionals (such as Medal, Sex and Sport)
#gold_df = olympics.loc[olympics["Medal"]=="Gold":]
gymn_gold_df =olympics[((olympics['Medal']=="Gold") & (olympics["Sport"]=="Gymnastics" ) & (olympics["Sex"]=="M" ))]


# Data Cleaning to remove missing/null values
#gymn_gold_df=gymn_gold_df.dropna(how="any")

# Calculate the averages using ALL gymnastics participants creating a filtered data frame
gld_gymnastics_cnt = len(gymn_gold_df['ID'].value_counts())
#gymnastics_cnt = gymn_gold_df['ID'].()
gld_avg_age=gymn_gold_df["Age"].mean()

gld_avg_height=gymn_gold_df["Height"].mean()

gld_avg_weight=gymn_gold_df["Weight"].mean()

# Creating DataFrame of ALL gymnastics participants

gold_dtframe=pd.DataFrame({"Number of gymnatics":[gld_gymnastics_cnt],"Average Age":[gld_avg_age],
                           "gld_avg_height":[gld_avg_height],"gld_avg_weight":[gld_avg_weight]})



#Sorting

#olympic_srt_dt=olympic_dtframe.sort_values(by=["Average Age","Average Height"], ascending=[True, False], inplace=True)

print(gold_dtframe)

   Number of gymnatics  Average Age  gld_avg_height  gld_avg_weight
0                  382    24.898367      165.704453       61.303571

In [13]:
all_gymn_df1 =Gymn_all_df.loc[:,["Age"]]
gold_gymn_df1 =gymn_gold_df.loc[:,["Age"]]

print(gold_gymn_df1)

         Age
131661  24.0
131663  21.0
131683  25.0
131701  19.0
131702  23.0
131866  24.0
132415  22.0
132439  17.0
132629  20.0
132636  18.0
132734  19.0
132738  23.0
132751  31.0
132822  28.0
132918  30.0
132930  25.0
133152  22.0
133299  20.0
133406  22.0
133452  23.0
133539  20.0
133540  24.0
133597  23.0
133683  22.0
133804  26.0
133909  21.0
133927  21.0
134139  32.0
134153  28.0
134182  25.0
...      ...
149148  20.0
149149  27.0
149157  22.0
149159  23.0
149164  29.0
149165  25.0
149170  22.0
149173  22.0
149174  26.0
149175  28.0
149176  24.0
149193  28.0
149201  25.0
149202  28.0
149203  24.0
149204  26.0
149205  23.0
149207  24.0
149209  22.0
149210  30.0
149215  25.0
149216  26.0
149217  21.0
149218  25.0
149222  27.0
149224  24.0
149230  22.0
149231  23.0
149232  27.0
149236  17.0

[557 rows x 1 columns]

In [19]:

plt.scatter(range(len(all_gymn_df1)), Age, label="All_Age")
plt.scatter(range(len(gold_gymn_df1 )), Age, label="Gold_Age")
plt.legend()

ValueError: Illegal argument(s) to subplot: (0, 1)

In [ ]:
Olympic_noc_df = pd.DataFrame(pd.pivot_table(olympics,index=["NOC","Sex"],values=["Age","Height","Weight"],aggfunc=[np.mean,]))
Olympic_noc_df.head()

In [ ]:
Olympic_st_df = pd.DataFrame(pd.pivot_table(olympics,index=["Sport"],values=["Age","Height","Weight"],aggfunc=[np.mean,]))
Olympic_st_df.head()